html
{
  font-size: 16px;
  color: rgb(255, 255, 255);
}

header, footer
{
  background-color: rgb(0, 94, 184);
  padding: 1em;
}

main
{
  background-color: rgb(0, 32, 91);
  padding: 1em;
}

h1
{
  font-size: 4em;
}

h2
{
  font-size: 2em;
}

h3
{
  font-size: 2em;
}

h4
{
  font-size: 1.5em;
}

a
{
  color: rgb(239, 219, 178);
}

p
{
  line-height: 1.5em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

address, em, var
{
  font-style: italic;
}

strong
{
  font-weight: bold;
}

sub, sup
{
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup
{
  top: -0.5em;
}

sub
{
  bottom: -0.25em;
}
