
body
{
  background-color: #0000ff;
  color: #ffffff;
  font-family: monospace;
}

table
{
  width: 100%;
  border: 1px solid #ffffff;
  border-collapse: collapse;
  text-align: right;
  font-size: 32px;
}

th
{
  border: 1px solid #ffffff;
  text-align: center;
}

.big-row
{
  border-bottom: 1px solid #ffffff;
}

.big-col
{
  border-left: 1px solid #ffffff;
}

.corner
{
  border: 1px solid #ffffff;
}

